[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
joblib = "*"
streamlit = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
pillow = "*"
psycopg2 = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
